 body
 {
    width: 90%;
text-align: center;
}

input{
    width:300px;
    height: auto;
    margin: 20px;
}

#weight,#height{
border:3px  solid black;

}

#button{
    color: rgb(17, 17, 15);
    border-color: black;
background-color: #c3e373;
height: 50px; 
font-size: 20px; }

h1{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p,label{
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
#result{
    color:red;
}
